
<style>
    .clsCart{
        transition: all 300ms;
        position: fixed;
        width: 400px;
        right: 0px;
        top: 57px;
        bottom: 0px;
        background: yellow;
    }

    @@media only screen and (max-width: 600px) {
        .clsCart {
            width: 200px;
        }
    }
</style>
<div id="dvCart" class="clsCart" style="display:none">
    <input type="button" value="Close" onclick="CartController.HideCart()" />
    <hr /> 
    <div id="dvCartsItems" style="overflow:auto;height: 550px;">

    </div>
    <div style="width:100%">
        <center>
            Total Price:<span id="CartTotalPrice"></span>
        </center>
       <div>
           <input type="button" value="View Cart" onclick="window.location.href='@Url.Action("CartDetails","Product")'"/>
            <input type="button" value="Checkout" onclick="window.location.href='@Url.Action("checkout","Product")'" />
       </div>
    </div>
</div>