@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row">
    <div class="col col-sm-8">
        <div class="card">
            <h5 class="card-header">Personal Details</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">Shipping/Billing Details</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
       
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <h5 class="card-header">Product Details</h5>
            <div class="card-body" id="dvCheckputProducts">
                 
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">Payment Details</h5>
            <div class="card-body">
                <ul>
                    <li><input type="radio"/> Cash On Delivery</li>
                </ul>
                <a href="#" class="btn btn-primary">Submit Order</a>
            </div>
        </div>
    </div>
</div>